@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:ital,wght@0,1..1000;1,1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: Tinos, sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0 0 0.2em 0;
    background-color: whitesmoke;
    line-height: 1.8em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin: 1em 0;
}

#main-heading {
    font-size: 1.3em;
    /* margin:1em 0; */
    padding-left: 0.5em;
    font-weight: bolder;
    /* text-shadow: 0 0.1em 0.2em yellow, 0 -0.1em 0.2em red; */
}

h3 {
    text-align: center;
}

h4 {
    font-size: 1.2em;
    padding-left: 0;
    margin-bottom: 0;
    font-weight: bolder;
}

h5 {
    font-size: 1em;
    padding-left: 0;
    margin-bottom: 0;
    font-weight: bolder;
}

.content-heading {
    /* font-family: Pacifico, sans-serif; */
    font-size: 1.6em;
    text-align: left;
    font-weight: bolder;
    border-left: 0.4em solid orange;
    /* background-color: rgb(217, 244, 255); */
    /* background-color: rgb(236, 177, 68); */
    padding: 0.4em 0.4em;
    margin: 1em 0;
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 1em;
    background-color: #d4d4d5;
    position: sticky;
    top: 0;

}

nav ul {
    list-style: none;

}

.main-nav {
    padding-right: 0.3em;
    padding-left: 0;
    display: flex;
    flex-flow: nowrap;
    border: 0.1em;
    column-gap: 2em;
    justify-content: space-evenly;
}
.main-nav li{
    position: relative;
}
.main-nav li {
    padding: 0;
}

.main-nav ul {
    position: absolute;
    left: -10000000px;
    width: 1px;
    height: 1px;
}
.main-nav li:hover > ul{
left: -2.6em;
width: 40em;
}

.main-container {
    display: flex;
    gap: 3em;
    padding: 0 10em 0 10em;
    flex: 3 0 0;
    align-items: flex-start;
}

.sidebar {
    flex: 1 0 0;
    padding: 0.3em;
    border: 0.05em solid;
    border-radius: 0.5em;
    background-color: rgb(232, 230, 230);
    margin-top: 8.5em;
    position: sticky;
    top: 12em;
}

#sidebar-list {
    padding: 0 0 0 0.5em;
    margin: 0;
}

#first-para {
    margin: 2em 0;
}

#first-image {
    width: 65%;
    height: auto;
    float: left;
    border-radius: 0.5em;
    margin: 0 1em 1em 0;
}

#second-image {
    display: block;
    width: 94%;
    height: auto;
    margin: 1em;
    border-radius: 0.5em;
}

#third-image {
    width: 60%;
    height: auto;
    float: left;
    margin: 0 1em 1em 0;
    border-radius: 0.5em;

}

a:link {
    color: rgb(99, 99, 136);
    text-decoration: none;
}

a:visited {
    color: rgb(25, 25, 145)
}

a:hover {
    color: rgb(217, 140, 184)
}

a:active {
    color: rgb(112, 200, 227)
}


.form {
    display: flex;
    /* border: 0.1em solid; */
    flex-direction: column;
    font-size: 0.8em;
    /* margin: 0.2em;
    padding: 0.2em; */
    line-height: 3em;
}

button {
    background-color: rgb(243, 243, 243);
    margin: 0 0 0 0.2em;
    padding: 0.3em 1.5em 0.3em 1.5em;
    border-radius: 0.5em;

}

button:hover {
    background-color: silver;
    color: azure
}

button:active {
    background-color: rgb(145, 145, 145);
    color: beige;
}

#post-date {
    background-color: rgb(244, 241, 241);
}

#footer {
    display: flex;
    justify-content: center;
    /* text-shadow: 0 0.1em 0.2em yellow, 0 -0.1em 0.2em red; */
}

li {
    list-style: none;
}